.dashboard-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    margin: 1.75em;
}

.dashboard-horizontal-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.75em;
}

.weather-details{
    background-color: white;
    padding: 1em;
}

.text{
    text-align: center;
    margin-bottom: 0;
}

.city-name{
    font-size: xx-large;
    text-decoration: underline;
}

.temperature{
    font-size: x-large;
    margin-top: 0.5em;
}

.weather{
    font-size: large;
}