.dashboard-flex-container {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-left: 20px;
    margin-top: 30px;
    width: 500px;
    position:absolute;
    height:fit-content;
}

.dashboard-horizontal-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.75em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size: smaller;
}

.weather-details{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    box-shadow: 3px 3px 2px gray;
    width: 100%;
    height: fit-content;
    
}

.text{
    text-align: center;
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.city-name{
    font-size: xx-large;
    text-decoration: underline;
}

.temperature, .temp{
    font-size: x-large;
    margin-top: 0.5em;
}

.weather{
    font-size: large;
}

.bg{
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

.chart-card{
    margin-left: 550px !important;
    background-color:white;
    margin-right: 10px;
    margin-top: 0px;
    position: relative;
    height: 410px;
    width: 950px;
}

.chart-box{
    position: relative;
    height: 410px;
    width: 950px;
}

@media screen and (max-width: 480px) {

    div.chart-box{
        position: relative;
        top: 5px; 
        height: 410px;
        width: 100%;
        }
        
    .chart-card{
        position: relative;
        top: 300px; 
        right: 550px; 
        width: 100%;
        margin-left: 30px;
        }
    
    .dashboard-flex-container {
        width: 100%;
        margin-left: 0%;
    }

    .dashboard-horizontal-flex-container{
        margin-top: 300px;
    }
}

    @media screen and (max-width: 700px) and (min-width: 480px) {

        div.chart-box{
            position: relative;
            top: 5px; 
            height: 410px;
            width: 100%;
            }
            
        .chart-card{
            position: relative;
            top: 300px; 
            right: 550px; 
            width: 100%;
            margin-left: 30px;
            }
        
        .dashboard-flex-container {
            width: 100%;
            margin-left: 0%;
        }
    
        .dashboard-horizontal-flex-container{
            margin-top: 300px;
        }
    }
    
    