.card {
  justify-content: center;  
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-title {
    font-size: x-large;
    margin: 0.5em;
    padding: 0.25em;
    text-align: center;
    box-shadow: 3px 3px 2px gray;
  }

  .gradient{
    height: 90%;
    /* background: linear-gradient(to bottom, #69b6ff 0%, #9bceff 100%); */
  }

  #shootingstars {
    margin: 0;
    padding: 0;
    width: 150vh;
    height: 100vw;
    position: fixed;
    overflow: hidden;
    transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
      rotate(120deg);
  }
  
  .wish {
    height: 2px;
    top: 300px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px white);
    overflow: hidden;
  }
