.card {
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-title {
    font-size: x-large;
    margin: 0.5em;
    padding: 0.25em;
    text-align: center;
  }
