.card{
    justify-content: center;
}

.prediction-title{
    font-size: x-large;
    margin: 0.50em;
    padding: 0.25em;
    text-align: center;
    box-shadow: 3px 3px 2px gray;
}

.flex-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    margin: 1.75em;
}

.selected-chart{
    margin: 0;
    font-size: larger;
    text-decoration: underline;
}

.normal-chart{
    margin: 0;
    font-size: larger;
}
